-
  var asociationName= 'Asociatia de proprietari Bloc B5 Balta Alba'
  var header = '#landing-page'
  var imagePath = "asset/image/panorama (Small).JPG"

#landing-page
.landing-page
      h1.landing-page__name=asociationName
      .landing-page__header=header
      img.landing-page__avatar(src=imagePath)
