extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch='Asociatia de proprietari Piata Amzei';
    var myDescriptionForGoogleSearch='This is made using PURE HTML5 and CSS3 techniques';
block awesome-content
  include _component/landing-page/landing-page
  include _component/header/header

  //- include _component/adunari/adunari
  //- include _component/situatii/situatii
  //- include _component/documente/documente
  //- include _component/anunturi/anunturi
  //- include _component/legislatie/legislatie
  //- include _component/formulare/formulare
  //- include _component/furnizori/furnizori
  //- include _component/sponsorizari/sponsorizari
  //- include _component/aspecte/aspecte
  //- include _component/reciclare/reciclare
  //- include _component/tepele/tepele
  //- include _component/extrem/extrem
  //- include _component/members/members